<div>
  <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Angular Material</span>
      <span class="space"></span>
      <div class="nav-item">
        <a routerLink="home">Home</a>
        <a routerLink="about">About</a>
        <a routerLink="contact">Contact</a>
        <a routerLink="services">Services</a>
        <button mat-raised-button color="primary"><a routerLink="login">Login</a></button>
      </div>
  </mat-toolbar>
</div>
